h1 {
	text-align: center;
}

.app__wrapper {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}

.addButton {
	position: fixed;
	right: 5%;
	bottom: 5%;
	padding: 0.5rem;
	border: 2px solid #212529;
	background-color: #212529;
	color: whitesmoke;
	border-radius: 50%;
	font-size: 2.5rem;
	cursor: pointer;
	transition: 0.3s ease background-color, color;
	svg {
		display: block;
	}
	&:hover {
		background-color: whitesmoke;
		color: #212529;
	}
}