.wrapper {
	margin: 20px auto;
	.categoryFilter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		height: 60px;
	}
	.taskSwitch {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

