.wrapper {
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.categoryFilter {
		width: 50%;
		padding: 1rem;
		display: flex;
		//flex-direction: column;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		//height: 60px;
		gap: 1rem;

		button {
			font-size: 1.1rem;
			border-radius: 30px;
			padding: 10px 35px 10px 15px;
		}
	}
	.taskSwitch {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

