.status {
    //height: 50px;
    //align-self: stretch;
    //flex-wrap: wrap;
    //width: 170px;
    // ---------------------
    // margin: auto 0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
    border-radius: 4px;
    padding: 5px 10px;
    color: #212529;
    user-select: none;
    background-color: white;
    // ----------------
    cursor: pointer;
    span {
        flex-grow: 1;
    }
    svg {
        width: 1rem;
        display: block;
        border-right: 1px solid #212529;
        padding-right: 0.25rem;
        font-size: 0.75rem;
        margin-right: 6px;
    }
    
}
.filterTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    margin-block: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #212529;
    padding-bottom: 5px;
    svg {
        margin-right: 5px;
    }
}
.filterButtons {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    gap: 8px;
}
// .allButton {
    //     background-color: rgb(36, 36, 36);
    //     color: whitesmoke;
    // }
.inputStatus {
    // position: absolute;
    // clip: rect(0, 0, 0, 0);
    // pointer-events: none;

    // &:checked+.status {
    //     background-color: #212529;
    //     color: whitesmoke;
    // }
}
.active {
    background-color: #212529;
    color: whitesmoke;
    svg {
        border-color: whitesmoke;
    }
}