.appHeader {
	text-align: center;
	// margin-top: 0;
	// padding-top: 1.34rem;
}

.app__wrapper {
	flex: 1;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 50px;
}

.addButton {
	position: fixed;
	right: calc(50% - 30px);
	bottom: 5rem;
	z-index: 1;
	padding: 0.25rem;
	border: 2px solid #212529;
	background-color: whitesmoke;
	color: #212529;
	border-radius: 20%;
	font-size: 2rem;
	cursor: pointer;
	transition: 0.3s ease background-color, color;
	svg {
		display: block;
	}
	&:hover {
		background-color: #212529;
		color: whitesmoke;
	}
}
footer {
	margin-top: 5rem;
	background-color: whitesmoke;
	border-top: 0.5px solid #77777777;
	color: #212529;
	word-spacing: 2px;
	text-align: center;
	font-size: 1.1rem;
	padding: 1rem;
	svg {
		margin-bottom: -3px;
		font-size: 1rem;
		color: hsl(0, 100%, 45%);
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:visited {
			color: #212529;
		}

	}
}

@media only screen and (max-width: 600px) {
	.app__wrapper {
		padding: 0 16px;
	}

	.addButton {
		right: 40px;
		bottom: 40px;
	}
}