.wrapper {
	margin: 20px auto;
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
	gap: 10px;

	.categoryFilter {
		padding: 15px;
		border: 1px solid #212529;
		border-radius: 10px;
		background-color: whitesmoke;
		display: flex;
		flex-direction: row-reverse;
		flex-grow: 1;
		gap: 15px;
	}

	.taskSwitch {
		display: flex;
		flex-direction: column;
		background: whitesmoke;
		border: 1px solid black;
		border-radius: 10px;
		padding: 15px;
	}
}

@media only screen and (max-width: 525px) {
	.wrapper {
		flex-direction: column-reverse;
	}
}