body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  min-width: 335px;
}
#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollbar-fix-body {
	margin-right: var(--scrollbar-width);
  overflow: hidden;
}

.scrollbar-fix-button {
  right: calc(50% - calc(28px - var(--scrollbar-width)/2 )) !important;
}

@media only screen and (max-width: 600px) {
  .scrollbar-fix-button {
    right: calc(34px + var(--scrollbar-width)) !important;
  }
}